@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-heading: 'Manrope', system-ui, sans-serif;
  --color-brand: #2E15C8;
  --color-brand-dark: #2A15B1;
  --color-brand-light: #5440C5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
